<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Home </title>
    <script src="https://kit.fontawesome.com/1d79aed36b.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div>
            <img src="/img/logo-mercado-liebre.svg" alt="logo">
        </div>
        <div>
            <input type="text">
            <button></button>
        </div>
        <div>
            <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
        </div>
        <div>
            <nav>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </nav>
        </div>
        <br>
        <div>
            <nav>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </nav>
        </div>
        <button>

        </button>
        <div>
            <img  width="300" src="/img/img-home-banner.jpg" alt="Banner">
        </div>

    </header>
    <main>
        <section>
            <div>
                <h3>Basado en tu última visita</h3>
            </div>
            <article>
                <figure>
                    <img width="300" src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                </figure>
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <figure>
                    <img width="300" src="/img/img-macbook-pro-2019.jpg" alt="macbook">
                </figure>
                <p>$230.000</p>
                <p>20% OFF</p>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <figure>
                    <img width="300" src="/img/img-samsung-galaxy-s10.jpg" alt="samsung">
                </figure>
                <p>$70.500</p>
                <p>10% OFF</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <figure>
                    <img width="300" src="/img/img-tv-samsung-smart.jpg" alt="tv-samsung">
                </figure>
                <p>$23.200</p>
                <p>5% OFF</p>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
        <section>
            <div>
                <h3>Basado en tu última visita</h3>
            </div>
            <article>
                <figure>
                    <img width="300" src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                </figure>
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <figure>
                    <img width="300" src="/img/img-macbook-pro-2019.jpg" alt="macbook">
                </figure>
                <p>$230.000</p>
                <p>20% OFF</p>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <figure>
                    <img width="300" src="/img/img-samsung-galaxy-s10.jpg" alt="samsung">
                </figure>
                <p>$70.500</p>
                <p>10% OFF</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <figure>
                    <img width="300" src="/img/img-tv-samsung-smart.jpg" alt="tv-samsung">
                </figure>
                <p>$23.200</p>
                <p>5% OFF</p>
                <h4>SmartTv Samsung 43"</h4>
            </article>

        </section>
    </main>
    <footer>
        <section>
            <article>
                <p> Pagá con tarjeta o en efectivo
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article>
                <p>
                    Envío gratis desde $ 2.500
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article>
                <p>
                    Seguridad, de principio a fin
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </article>
           <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        </section>


    </footer>
</body>

</html>